.card{
    display: flex;
}
.example-card {
   margin: 20px;
   width: calc(33.33% - 40px);
  }
  mat-card-header{
      padding-bottom: 10px; 
  }
  
  @media screen and (max-width: 926px){
      .card{
          display: block;
      }
      .example-card{
          margin: 20px;
          width: calc(90% - 40px);
      }
  }
 .content{
     top: 1rem;
     position: relative;
     height: 64px;
 }
 .img{
     height: 276.156px;
 }