.card{
    display: flex;
    width: 100%;
}
.example-card {
   margin: 20px;
  }
  mat-card-header{
      padding-bottom: 10px; 
  }
  
  @media screen and (max-width: 926px){
      .card{
          display: block;
      }
      .example-card{
          margin: 20px;
      }
  }