<div><button mat-raised-button (click)="openDialog()" class="btn-open">Send</button></div>
      <mat-card *ngFor="let sms of  smsService.sms; let i = index;"  class="example-card">
          <mat-card-header>
             <mat-card-title>{{sms.firstName}}</mat-card-title>
            </mat-card-header>
          <hr color="#c2185b">
          <mat-card-content>
            <p>
                  {{sms.myText}}
            </p>
          </mat-card-content>
        </mat-card>
    


<form class="dialog-form" [class.displanone]="!OpenChat">
  
    <button mat-button (click)="onNoClick()" class="btn-close"><mat-icon>closes</mat-icon></button>
  <mat-form-field class="dialog-full-width" floatLabel="auto" 
  hideRequiredMarker appearance="outline">
  <mat-label>First name</mat-label>
    <input matInput required
    [(ngModel)]="firstName" type="text" name="firstName" [disabled]="onLog">
  </mat-form-field>

  <mat-form-field class="dialog-full-width">
    <textarea [(ngModel)]="myText" type="text" name="myText"
     matInput placeholder="Leave a comment"></textarea>
  </mat-form-field> 
  
 
  <button  clas="btn-send"  mat-mini-fab aria-label (click)="sendSms()">
          <mat-icon>send</mat-icon>
  </button>
  
</form>

