<form class="example-form">
        <mat-form-field class="example-full-width" floatLabel="auto" 
        hideRequiredMarker appearance="outline">
        <mat-label>Name</mat-label>
          <input matInput required>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
       <div clas="btn-send" >
        <button mat-mini-fab aria-label>
                <mat-icon>send</mat-icon>
        </button>
    </div>
      </form>