<form class="dialog-form" >
   <button mat-button class="btn-close" (click)="onClose()"><mat-icon>closes</mat-icon></button>
   <div class="dialog-full-width">
      <mat-form-field  floatLabel="auto" 
      hideRequiredMarker appearance="outline">
      <mat-label>First name</mat-label>
        <input  matInput required [class.cdk-text-field-autofilled]="nonn"
        [(ngModel)]="Name" type="text" name="name" class="in-name">
      </mat-form-field>
    </div>
    
    <div class="dialog-full-width">
            <mat-form-field  floatLabel="auto" 
            hideRequiredMarker appearance="outline">
            <mat-label>Password</mat-label>
              <input matInput required
              [(ngModel)]="Pass" type="password" name="passWord">
            </mat-form-field>
         
          </div>
    
      <button mat-raised-button class="btn-login" (click)="Login()">
              <span>Login</span>
      </button>
      
    </form>