<mat-toolbar color="primary" class="menu">
        <button mat-button [matMenuTriggerFor]="menu" class=mdmenu>Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="menu-item">Home</button>
          <button mat-menu-item class="menu-item" (click)="OpenChat()">chat</button>
          <button mat-menu-item class="menu-item">login</button>
        </mat-menu>
        <div class="left_menu">
                <button mat-button >Home</button>
                <button mat-button (click)="OpenChat()">Chat</button>
                <button mat-button >Login</button>
        </div>
</mat-toolbar>