
<mat-card *ngFor="let sms of  smsService.sms; let i = index;"  class="example-card" [class.nonedisp]="!sms.dismissed">
        <mat-card-header>
           <mat-card-title> {{sms.firstName}}</mat-card-title>
           <button mat-mini-fab aria-label (click)="Close(sms.id)">
                <mat-icon>close</mat-icon>
              </button>
          </mat-card-header>
        <hr color="#c2185b">
        <mat-card-content>
            <p *ngIf="!sms.onShare; else elseBlock">{{sms.myText}}</p>
            <ng-template #elseBlock>
                <button class="btn-go" mat-button>LIKE</button>
            </ng-template>
        </mat-card-content>
      </mat-card>
  

      
      
    