<div *ngIf="notifCart">
<mat-card class="example-card" >
        <mat-card-header>
           <mat-card-title>Keanu Reeves</mat-card-title>
           <button mat-mini-fab aria-label (click)="Close()">
                <mat-icon>close</mat-icon>
              </button>
          </mat-card-header>
        <hr>
        <mat-card-content>
          <p>
                Lorem Nulla efficitur lacinia laoreet. Nam elit mauris, pellentesque quis laoreet id
          </p>
        </mat-card-content>
      </mat-card>
    </div>